In [1]:
import pandas as pd
import numpy as np

In [3]:
odi_data = pd.read_csv('WinterBreak/Dateset_ODI.csv')

In [5]:
odi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [7]:
odi_data['Team 1']

0          Australia
1            England
2            England
3            England
4        New Zealand
            ...
3927           India
3928    South Africa
3929        Pakistan
3930           India
3931           India
Name: Team 1, Length: 3932, dtype: object

In [10]:
odi_data['Ground'].value_counts().head()

Sharjah      228
Dhaka        156
Sydney       154
Melbourne    147
Harare       136
Name: Ground, dtype: int64

In [12]:
odi_data['Winner'].value_counts().head()

Australia      555
India          476
Pakistan       469
West Indies    380
Sri Lanka      372
Name: Winner, dtype: int64

In [16]:
odi_data[odi_data['Ground'] == 'Sharjah']['Winner'].value_counts()

Pakistan        83
India           35
Sri Lanka       29
West Indies     19
Australia       14
South Africa    10
Afghanistan      9
New Zealand      9
Zimbabwe         8
England          8
tied             2
Canada           1
Netherlands      1
Name: Winner, dtype: int64

In [23]:
tot_match=odi_data['Team 1'].append(odi_data['Team 2'])
tot_match.value_counts()

India           930
Australia       906
Pakistan        884
Sri Lanka       808
West Indies     767
New Zealand     731
England         697
South Africa    583
Zimbabwe        491
Bangladesh      335
Kenya           154
Ireland         123
Scotland         93
Afghanistan      83
Canada           77
Netherlands      76
U.A.E.           35
Bermuda          35
Hong Kong        18
P.N.G.           10
Asia XI           7
Namibia           6
Africa XI         6
ICC World XI      4
East Africa       3
U.S.A.            2
dtype: int64

In [25]:
odi_data['Winner'].value_counts()

Australia       555
India           476
Pakistan        469
West Indies     380
Sri Lanka       372
South Africa    361
England         343
New Zealand     324
no result       140
Zimbabwe        129
Bangladesh      105
Ireland          51
Afghanistan      42
Kenya            42
tied             34
Scotland         31
Netherlands      28
Canada           17
U.A.E.            9
Bermuda           7
Hong Kong         6
P.N.G.            5
Asia XI           4
ICC World XI      1
Africa XI         1
Name: Winner, dtype: int64

In [31]:
tot_match_team=tot_match.value_counts()
tot_match_team

India           930
Australia       906
Pakistan        884
Sri Lanka       808
West Indies     767
New Zealand     731
England         697
South Africa    583
Zimbabwe        491
Bangladesh      335
Kenya           154
Ireland         123
Scotland         93
Afghanistan      83
Canada           77
Netherlands      76
U.A.E.           35
Bermuda          35
Hong Kong        18
P.N.G.           10
Asia XI           7
Namibia           6
Africa XI         6
ICC World XI      4
East Africa       3
U.S.A.            2
dtype: int64

In [33]:
tot_team_wins=odi_data['Winner'].value_counts()
tot_team_wins

Australia       555
India           476
Pakistan        469
West Indies     380
Sri Lanka       372
South Africa    361
England         343
New Zealand     324
no result       140
Zimbabwe        129
Bangladesh      105
Ireland          51
Afghanistan      42
Kenya            42
tied             34
Scotland         31
Netherlands      28
Canada           17
U.A.E.            9
Bermuda           7
Hong Kong         6
P.N.G.            5
Asia XI           4
ICC World XI      1
Africa XI         1
Name: Winner, dtype: int64

In [35]:
odi_data['Match Date'].value_counts().head()

Feb 4, 2007     6
Jul 10, 2010    4
Jun 20, 1983    4
Jun 18, 1983    4
Jun 14, 1975    4
Name: Match Date, dtype: int64

In [42]:
odi_data[odi_data['Ground'] == "Lord's"]['Winner'].value_counts()

England         23
Australia       12
West Indies      6
Sri Lanka        4
Pakistan         4
India            4
New Zealand      3
tied             2
no result        1
South Africa     1
Name: Winner, dtype: int64

In [49]:
len(odi_data[odi_data['Team 2'] == odi_data['Winner']])

1637

In [51]:
odi_data[odi_data['Team 2'] == odi_data['Winner']]['Team 2'].value_counts()

Pakistan        245
West Indies     239
Sri Lanka       200
Australia       172
South Africa    167
India           161
England         122
New Zealand     117
Zimbabwe         71
Bangladesh       27
Afghanistan      22
Ireland          21
Scotland         16
Kenya            16
Netherlands      16
Canada            8
Bermuda           4
P.N.G.            4
Asia XI           4
Hong Kong         2
U.A.E.            2
ICC World XI      1
Name: Team 2, dtype: int64

In [52]:
odi_data[odi_data['Match Date']=='Feb 4, 2007']

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
2500,ODI # 2501,Australia,New Zealand,Australia,5 wickets,Melbourne,"Feb 4, 2007"
2501,ODI # 2502,Bermuda,Netherlands,Netherlands,8 wickets,Nairobi (Ruaraka),"Feb 4, 2007"
2502,ODI # 2503,Canada,Ireland,Canada,6 wickets,Nairobi (Jaff),"Feb 4, 2007"
2503,ODI # 2504,Kenya,Scotland,Scotland,77 runs,Nairobi (Gym),"Feb 4, 2007"
2504,ODI # 2505,Zimbabwe,Bangladesh,Bangladesh,45 runs,Harare,"Feb 4, 2007"
2505,ODI # 2506,South Africa,Pakistan,South Africa,164 runs,Centurion,"Feb 4, 2007"